<div class="navbar-fixed" data-ng-main-nav>
    <nav class="lod-nav nav-bar" role="navigation">

        <div class="wrapper">
            <div class="lod-nav__logo">
                <a href="/" title="{{ shop.name }}">
                    <img src="{{ 'local-organic-logo-01.svg' | asset_url }}" alt="{{ shop.name }}" class="lod-svg" itemprop="logo">
                </a>
            </div>
            <div class="hide-on-med-and-down lod-nav__flex">
                <!-- begin site-nav -->
                <ul class="lod-nav__site-nav site-nav" id="AccessibleNav">
                    {% for link in linklists.main-menu.links %}
                        {% comment %}
                        Create a dropdown menu by naming a linklist the same as a link in the parent nav

                        More info on dropdowns:
                        - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                        {% endcomment %}
                        {% assign child_list_handle = link.title | handleize %}
                        {% if linklists[child_list_handle].links != blank %}
                            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                                <a href="{{ link.url }}" class="site-nav__link">
                                    {{ link.title }}
                                    <span class="icon icon-arrow-down" aria-hidden="true"></span>
                                </a>
                                <ul class="site-nav__dropdown">
                                    {% for childlink in linklists[child_list_handle].links %}
                                        <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                                            <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li {% if link.active %}class="site-nav--active"{% endif %}>
                                <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <!-- //site-nav -->
                <div class="lod-nav__cart">

                    <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                        <span class="icon icon-cart" aria-hidden="true"></span>
                        <span class="lod-cart lod-cart__quantity">{{ cart.item_count }}</span>
                        <span class="lod-cart lod-cart__label">{{ 'layout.cart.title' | t }} -&nbsp;</span>
                        <span class="lod-cart lod-cart__amount">{{ cart.total_price | money }}</span>
                    </a>
                </div>
                <div class="lod-nav__ctas">
                    <a class="waves-effect waves-light btn btn--primary">Log in</a>
                </div>
            </div>
            <div class="hide-on-large-only lod-nav__flex">
                <div class="site-nav--mobile">
                    <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                        <i class="material-icons">menu</i>
                    </button>
                </div>
                <div class="site-nav--mobile">
                    <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                        <i class="material-icons">shopping_cart</i>
                    </a>
                </div>
                <div class="site-nav--mobile">
                    <a class=""><i class="material-icons">person</i></a>
                </div>
            </div>
        </div>
    </nav>
</div>